node_modules/
.idea/
packages/**/node_modules
packages/**/bin
packages/**/obj
packages/**/dist
!packages/infrastructure/bin
packages/infrastructure/cdk.out
packages/projects/**/node_modules
packages/projects/**/bin
packages/projects/**/obj
packages/projects/**/dist
*.user
**/*.user
**/*.dll

/**/.DS_Store
.DS_Store
**/*.user
/**/*.idea
/**/node_modules
/test-reports
/packages/projects/**/bin
/packages/projects/**/obj